; =========================================================================
; http://dvbn.happysat.org/viewtopic.php?t=36464
; =========================================================================
; Nagra 1
;
; N XXXX YY <16 characters>
; N XXXX E1 [ROMq] [PKv] [TYPw] <128 characters>
; N XXXX N1 [ROMq] [PKv] [TYPw] <128 characters>
; N XXXX N2 [ROMq] [TYPw] <128 characters>
; N XXXX V  [ROMq] [TYPw] <16 characters>
;
; Nagra 2
;
; N XXXX YY <32 characters>           ; IDEA opkey (00/01)
; N XXXX V  <32 characters>           ; IDEA verify key
; N XXXX M1 <128 characters>          ; RSA key
; N XXXX NN ZZ <32/48/192 characters> ; EMM keys (literal 'NN'), some examples:
; N XXXX NN 02 <32/48 characters>     ; EMM-G IDEA key (former N XXXX 02)
; N XXXX NN 03 <32 characters>        ; EMM-G signature key
; N XXXX NN 12 <192 characters>       ; EMM-G RSA key  (former N XXXX N2)
;
; XXXX             - provider ident
; YY               - key number
; ZZ               - EEPROM key number
; ROMq             - (optional) ROM specific keys (q = ROM number)
; PKv              - (optional) PK key number (v = 0,1,2)
; TYPw             - (optional) key type number (w = 0,1)
;
; DISH
; N 0101 00    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;IDEA opkey 0 (32 chars)
; N 0101 01    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;IDEA opkey 1 (32 chars)
; N 0101 M1    xxxx ;RSA key (128 chars)
; N 0101 NN 02 xxxx ;EMM-G IDEA key (48 chars)
; N 0101 NN 12 xxxx ;EMM-G RSA key (192 chars)
; N 0101 NN 03 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;EMM-G signature key (32 chars)
; N 0101 V     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;IDEA verify key (32 chars)
;
; BEV
; N 0901 00    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;IDEA opkey 0 (32 chars)
; N 0901 01    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;IDEA opkey 1 (32 chars)
; N 0901 M1    xxxx ;RSA key (128 chars)
; N 0901 NN 02 xxxx ;EMM-G IDEA key (48 chars)
; N 0901 NN 12 xxxx ;EMM-G RSA key (192 chars)
; N 0901 NN 03 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;EMM-G signature key (32 chars)
; N 0901 V     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ;IDEA verify key (32 chars)
;
; =========================================================================
; http://dvbn.happysat.org/viewtopic.php?t=36407
; If you are searching for the correct keys to build your SoftCam.Key file,
; here is a little help.
; =========================================================================
; Open the image in N2edit and look for the 06 data types in the
; DataSpace tab. If you highlight each 06 in turn, your will see a
; block of number on the right. The keys you need will be the numbers
; after the following headers:
; -------------------------------------------------------------------------
;
; 00 00 00 [01 00] 00 00 [02 10 18] .... is your 0001 02 key
; 00 00 00 [01 01] 00 00 [02 10 18] .... is your 0101 02 key
;
; 00 00 00 [01 00] 00 00 [03 18 10] .... is your 0001 03 key
; 00 00 00 [01 01] 00 00 [03 18 10] .... is your 0101 03 key
;
; 00 00 00 [01 01] 00 00 [16 00 40] .... is your 0001 and 0101 M1 key
;
; 00 00 00 [01 00] 00 00 [12 10 60] .... is your 0001 12 key
; 00 00 00 [01 01] 00 00 [12 10 60] .... is your 0101 12 key
;
; 00 00 00 [01 01] 00 00 [07 08 10] .... is your 0001 and 0101 V key

; using N2Edit, look at type '06'
;get 0001 NN 02 from 'ikey EMM-G'       Key Type: 02 Status: 00
;get 0001 NN 03 from 'ikey firma EMM-G' Key Type: 03 Status: 00
;get 0001 NN 12 from 'Modulo RSA EMM-G' Key Type: 12 Status: 00
;get 0101 NN 02 from 'ikey EMM-G'       Key Type: 02 Status: 01
;get 0101 NN 03 from 'ikey firma EMM-G' Key Type: 03 Status: 01 - EMM-G signature key (32 chars)
;get 0101 NN 12 from 'Modulo RSA EMM-G' Key Type: 12 Status: 01

;get 0801 NN 02 from 'ikey EMM-G'       Key Type: 02 Status: 08
;get 0801 NN 03 from 'ikey firma EMM-G' Key Type: 03 Status: 08
;get 0801 NN 12 from 'Modulo RSA EMM-G' Key Type: 12 Status: 08
;get 0901 NN 02 from 'ikey EMM-G'       Key Type: 02 Status: 09
;get 0901 NN 03 from 'ikey firma EMM-G' Key Type: 03 Status: 09
;get 0901 NN 12 from 'Modulo RSA EMM-G' Key Type: 12 Status: 09
;
; Now, these are for DN, for Bev look for [01 08] and [01 09]
; in place of [01 00] and [01 01].
;
; Note the provider id is backwards, and the spaces between the numbers
; must be removed after you paste the key into your SoftCam.Key file.
; -------------------------------------------------------------------------

;******************************************************
; NOTE: N xxxx NN 11 .... (Keys Are Not Required)
;******************************************************

N 0001 NN 02 B1....95 ; EMM-G IDEA key (48 chars)
N 0001 NN 03 39....07 ; EMM-G signature key (32 chars)
N 0001 NN 11 09....85 ; EMM_G RSA key 11
N 0001 NN 12 F5....9C ; EMM_G RSA key 12

N 0101 00 00000000000000000000000000000000
N 0101 01 01010101010101010101010101010101
N 0101 M1 AB....BA ; RSA key (128 chars)
N 0101 NN 02 8E....95 ; EMM-G IDEA key (48 chars) {Eeprom Key}
N 0101 NN 03 0B....7E ; EMM-G signature key (32 chars) {idea_signing}
N 0101 NN 11 0D....B4 ; EMM_G RSA key 11 (192 chars)
N 0101 NN 12 BB....BD ; EMM-G RSA key 12 (192 chars) {M2 = Modulo RSA EMM-G}
N 0101 V 4B....27 ; IDEA verify key (32 chars)

N 0801 00 00000000000000000000000000000000
N 0801 01 01010101010101010101010101010101
N 0801 NN 01 0F....64 ; EMM-G IDEA key (48 chars) {Eeprom Key}
N 0801 NN 02 17....31 ; EMM-G IDEA key (48 chars) {Eeprom Key}
N 0801 NN 03 99....A2 ; EMM-G signature key (32 chars) {idea_signing}
N 0801 NN 11 D7....87 ; EMM-G RSA key 11 (192 chars) {M2 = Modulo RSA EMM-G}
N 0801 NN 12 71....9C ; EMM-G RSA key 12 (192 chars) {M2 = Modulo RSA EMM-G}

N 0901 00 00000000000000000000000000000000
N 0901 01 01010101010101010101010101010101
N 0901 M1 A5....C5 ; RSA key (128 chars)
N 0901 NN 01 CB....49 ; EMM-G IDEA key (48 chars) {Eeprom Key}
N 0901 NN 02 D3....83 ; EMM-G IDEA key (48 chars) {Eeprom Key}
N 0901 NN 03 0E....60 ; EMM-G signature key (32 chars) {idea_signing}
N 0901 NN 11 37....D0 ; EMM-G RSA key 11 (192 chars) {M2 = Modulo RSA EMM-G}
N 0901 NN 12 6B....88 ; EMM-G RSA key 12 (192 chars) {M2 = Modulo RSA EMM-G}
N 0901 V  A3....EA ; IDEA verify key (32 chars)


;************************************************
; Dish/Bev XXXXXXgg	CAMID = 12345678
; The CamID can be found by reading the image
; at 30D8 (4 bytes) XXXXXX is the first 3 bytes
;************************************************
;N 0001 S XXXXXX 01 010101010101010101010101010101010101010101010101
;N 0101 S XXXXXX 01 010101010101010101010101010101010101010101010101
;N 0001 S XXXXXX 11 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
;N 0101 S XXXXXX 11 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

