[0001 - Dish Networks]
Universal:
N1[2]=E586........................................................................................................................07A1
E1[2]=EBC0........................................................................................................................5A6B
N2[0]=331E........................................................................................................................A3C3
VK[0]=56............CF
ROM10:
N2[1]=
ROM11:
N1[0]=
E1[0]=
N1[1]=
E1[1]=
N1[2]=
E1[2]=
N2[1]=
VK[1]=


[0801 - Bell Express VU]
Universal:
N1[2]=FF41........................................................................................................................1E9D
E1[2]=FB4B........................................................................................................................BF68
N2[0]=2B66........................................................................................................................B893
VK[0]=EB............28
ROM10:
N2[1]=...............................................................................................................................B
ROM11:
N1[0]=
E1[0]=
N1[1]=
E1[1]=
N1[2]=
E1[2]=
N2[1]=
VK[1]=

[4801 - TV Cabo]
Universal:
N1[2]=FF59........................................................................................................................89D0
E1[2]=6B66........................................................................................................................068B
N2[0]=E9B5........................................................................................................................7F88
VK[0]=0A............7A
ROM10:
N2[1]=...............................................................................................................................0
ROM11:
N1[0]=................................................................................................................................
E1[0]=................................................................................................................................
N1[1]=................................................................................................................................
E1[1]=................................................................................................................................
N1[2]=FD33........................................................................................................................4381
E1[2]=AB96........................................................................................................................2C56
N2[1]=...............................................................................................................................4
VK[1]=B5...........A8

